<!-- templates/voter_analytics/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Voter Analytics{% endblock %}</title>
    
    {% load static %}

    <link rel="stylesheet" href="https://cs-people.bu.edu/grace25/voter-styles.css">
</head>
<body>
    <header>
        <h1>Voter Analytics</h1>
        <nav>
            <ul>
                <li class="nav"><a href="{% url 'voters' %}">Voter List</a></li>
                <li><a href="{% url 'graphs' %}">Voter Data Graphs</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
