{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converge</title>
    <link rel="stylesheet" href="{% static 'proj-styles.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var coll = document.getElementsByClassName("collapsible");
            for (var i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        });
    </script>
</head>
<body>
    <div class="banner-nav">
        <p>Converge</p>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'browse' %}">Browse</a></li>
                <li><a href="{% url 'inventory' %}">Inventory</a></li>
                <li><a href="{% url 'org' request.user.org.id %}">My Org</a></li>

                <li>
                    <button type="button" class="collapsible" id="col-btn">More Options</button>
                    <div class="content">
                        <ul>
                            <li><a href="{% url 'post_item' %}">Post Item</a></li>
                            <li><a href="{% url 'orders' %}">Orders</a></li>
                            <li><a href="{% url 'search' %}">Search</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>