{% extends 'project/base.html' %}

{% block content %}
<h1>Inventory</h1>
<a href="{% url 'item_update' item.id %}">Edit</a>
<a href="{% url 'item_delete' item.id %}">Delete</a>
<div class="inventory-grid">
    {% for item in inventory_items %}
    <div class="inventory-item">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>Type: {{ item.item_type }}</p>
        <p>Price per Unit: ${{ item.pricing_per_unit }}</p>

        {% if item.item_type == "Prop" %}
            <p>Quantity: {{ item.prop }}</p>
        {% else %}
            <p>Sizes: 
                Extra Small: {{ item.size_xs }},
                Small: {{ item.size_s }},
                Medium: {{ item.size_m }},
                Large: {{ item.size_l }},
                Extra Large: {{ item.size_xl }}
            </p>
        {% endif %}

        {% if item.image %}
            <img src="{{ item.image.url }}" alt="Item Image" class="item-image">
        {% else %}
            <p><em>No image available for this item.</em></p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}