{% extends 'project/base.html' %}

{% block content %}
<h1>Inventory</h1>
{% if request.org == org %}
    <a href="{% url 'create_inventory_item' %}" class="btn btn-primary">Create Inventory Item</a>
{% endif %}
<div class="card-container">
    {% for item in inventory_items %}
    <div class="card">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>Type: {{ item.item_type }}</p>
        <p>Usage Type: {{ item.usage_type }}</p>

        <p>Price per Unit: ${{ item.pricing_per_unit }}</p>

        {% if item.item_type == "Prop" %}
            <p>Quantity: {{ item.prop }}</p>
        {% else %}
            <p>Sizes: 
                Extra Small: {{ item.size_xs }},
                Small: {{ item.size_s }},
                Medium: {{ item.size_m }},
                Large: {{ item.size_l }},
                Extra Large: {{ item.size_xl }}
            </p>
        {% endif %}

        {% if item.image %}
            <img src="{{ item.image.url }}" alt="Item Image" class="item-image">
        {% else %}
            <p><em>No image available for this item.</em></p>
        {% endif %}

        {% if item.org == request.user.org %}
            <a href="{% url 'update_inventory_item' item.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_inventory_item' item.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
    {% endfor %}
    {% if request.user.org == org %}
        <a href="{% url 'delete_profile' request.user.org.pk %}" class="btn btn-danger">Delete Profile</a>
    {% endif %}
</div>
{% endblock %}