{% extends 'project/base.html' %}

{% block content %}
<div class="org-container">
    <h1>{{ org.name }}</h1>
    {% if org.profile_picture %}
        <img src="{{ org.profile_picture.url }}" alt="{{ org.name }}'s Profile Picture" class="org-image">
    {% else %}
        <p><em>No profile picture available.</em></p>
    {% endif %}
    <p><strong>Location:</strong> {{ org.location }}</p>
    <p><strong>Email:</strong> <a href="mailto:{{ org.email }}">{{ org.email }}</a></p>
    <p><strong>Venmo:</strong> {{ org.venmo_username }}</p>

    <h2>About</h2>
    <p>{{ org.description }}</p>


    {% if request.user == org.user %}
        <a href="{% url 'update_profile' org.id %}" class="btn btn-primary">Edit Organization</a>
    {% endif %}

    <!-- Add Friend Button -->
    {% if can_add_friend %}
    <form action="{% url 'add_friend' org.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add Friend</button>
    </form>
    {% endif %}

    <!-- List of Friends -->
    <h2>Friends</h2>
    <ul>
        {% for friend in org.get_friends %}
            <li>
                <a href="{% url 'org' friend.id %}">{{ friend.name }}</a>
                <form method="post" action="{% url 'remove_friend' friend.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove Friend</button>
                </form>
            </li>
        {% empty %}
            <li>No friends yet.</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}