<!-- blog/templats/blog/show_all.html -->
{% extends 'blog/base.html' %}

{% block content %}

<h1>Random article</h1>

<main class="grid-container"> <!-- was <div> -->
    <article class="featured"> <!-- was <div> -->
        
        <img src="{{a.image_url}}" alt="{{a.image_url}}">

        <div> <!-- added this! -->
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}} at {{article.published}}</h3>
            <p>
                {{article.text}}
            </p>       
            <h4><a href="{% url 'create_comment' article.pk %}">Add a Comment!</a></h4>
        </div> <!-- added this! -->
 
    </article> <!-- was <div> -->
    <!-- display comments -->
    <div>
        <h2>Comments</h2>
        <!-- call the method hehe
        {{article.get_comments}} -->

        {% for c in article.get_comments %}
        <div>
            by {{c.author}} and {{c.published}}
            <p>
                {{c.text}}
            </p>
        </div>
        {% endfor %}
    </div>
</main> <!-- was <div> -->

{% endblock %}
