<!-- blog/templates/marathon_analytics/base.html -->
{% load static %}
<html>
    <head>
        <title>Marathon Analytics</title>
        <link rel="stylesheet" href="https://learn.bu.edu/bbcswebdav/pid-14707633-dt-content-rid-113961115_1/xid-113961115_1">
    </head>
    <body>
        <header>
            <h1>Marathon Analytics</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>