<!-- 
File: mini_fb/base.html
Author: Grace Wang (grace25@bu.edu), 10/7/2024
Description: This file serves as the base template for the mini Facebook application.
It includes the header, footer, and a content block for all templates to extend.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mini FB{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'mini_fb_styles.css' %}">  -->
    <link rel="stylesheet" href="https://cs-people.bu.edu/grace25/mini_fb_styles.css">
</head>
<body>
    <header>
        <h1>Mini FB</h1>
        <nav>
            
        </nav>
    </header>

    <main>
        {% block content %}
   
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mini FB</p>
    </footer>
</body>
</html>
