<!-- 
File: mini_fb/base.html
Author: Grace Wang (grace25@bu.edu), 10/7/2024
Description: This file serves as the base template for the mini Facebook application.
It includes the header, footer, and a content block for all templates to extend.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mini FB{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'mini_fb_styles.css' %}">  -->
    <link rel="stylesheet" href="https://cs-people.bu.edu/grace25/mini_fb_styles.css">

    {% if messages %}
    
        {% for message in messages %}
        <script> alert("{{ message|escapejs }}");</script>
        {% endfor %}
  
    {% endif %}

</head>
<body>
    <header>
        <h1>Mini FB</h1>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>

                <!-- Navigation based on login status -->
                {% if request.user.is_authenticated %}
                    <!-- Show "My Profile" if the user has a profile -->
                    <li>
                       <a href="{% url 'show_profile' request.user.profile.pk %}">My Profile</a>
    
                    </li>
                    <li>
                        <a href="{% url 'news_feed' %}">News Feed</a>
                    </li>
                
                
                        <!-- Logout Form -->

                            <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button class="nav" type="submit">Logout</button>
                            </form>

                {% else %}
                        <li><a href="{% url 'login' %}">Log in</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                        
            </ul>
        </nav>
    </header>

    <main>
        {% if request.user.is_authenticated %}
        Logged in user: {{ request.user }}.
        {% else %}
        Not logged in.
        {% endif %}
        {% block content %}
   
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mini FB</p>
    </footer>
    <div id="padding"></div>
</body>
</html>
