{% extends 'mini_fb/base.html' %}

{% block title %}
    All Profiles
{% endblock %}

{% block content %}
    <h2>All User Profiles</h2>
    <div class="profile-grid">
        {% for profile in profiles %}
        <div class="profile-card">
            <img src="{{ profile.profile_image_url }}" alt="Profile image of {{ profile.first_name }}" class="profile-image">
            <div class="profile-info">
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                <p>City: {{ profile.city }}</p>
                <p>Email: {{ profile.email_address}}</p>
            </div>
        </div>
        {% empty %}
        <p>No profiles available.</p>
        {% endfor %}
    </div>
{% endblock %}
