<!-- 
File: mini_fb/show_profile.html
Author: Grace Wang (grace25@bu.edu), 10/7/2024
Description: This file extends the base template and displays a single user's profile.
-->

{% extends 'mini_fb/base.html' %}

{% block title %}
    {{ object.first_name }}'s Profile
{% endblock %}

{% block content %}
<div style="padding:40px"></div>
    <div class="profile-card profile-card-large" style="margin: 0 auto; display: flex; flex-direction: column; align-items: center;">
        <img src="{{ object.profile_image_url }}" alt="Profile image of {{ object.first_name }}" class="profile-image-large">
        <div class="profile-info">
            <h3>{{ object.first_name }} {{ object.last_name }}</h3>
            <p>City: {{ object.city }}</p>
            <p>Email: {{ object.email_address }}</p>
        </div>
    </div>

    <h2 style="text-align:center;">Status Messages</h2>
    <ul>
        {% for status in object.get_status_messages %}
        <li>{{ status.timestamp }}: {{ status.message }}</li>
        {% empty %}
        <li>No status messages yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_status' object.pk %}" style="display: block; text-align: center; color: #FF1493; font-weight: bold;">Post a new status</a>

{% endblock %}
