{% extends 'base.html' %}

{% block title %}
    All Profiles
{% endblock %}

{% block content %}
    <h2>All User Profiles</h2>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Profile Image</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.first_name }}</td>
            <td>{{ profile.last_name }}</td>
            <td>{{ profile.city }}</td>
            <td><img src="{{ profile.profile_image_url }}" alt="Profile image of {{ profile.first_name }}" width="100px"></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No profiles found</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
